<div class="container">
  <p id="notice"><%= notice %></p>
  <%= link_to '编辑', edit_article_path(@article), class: 'btn btn-success' %>
  <%= link_to '返回列表', articles_path, class: 'btn btn-success' %>
  <div class="row">
    <p>ID：</p>
    <p><%= @article.id %></p>
  </div>
  <div class="row">
    <p>用户ID：</p>
    <p><%= @article.user_id %></p>
  </div>
  <div class="row">
    <p>标题：</p>
    <p><%= @article.title %></p>
  </div>
  <div class="row">
    <p>内容：</p>
    <p><%= @article.content %></p>
  </div>
  <div class="row">
    <p>用户评论</p>
    <p></p>
    <%= simple_form_for(Comment.new, url: comments_path) do |f| %>
      <%= f.input :source_id, input_html: { value: @article.id, hidden: 'hidden' } %>
      <div class="form-inputs">
        <%= f.input :content, as: :text %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, class: 'btn btn-success' %>
      </div>
    <% end %>
  </div>
</div>
