<div class="row" style="padding: 0 100px">
  <div class="col-6">
    <%= form_tag "/sign_in" do %>
      <div class="form-group row">
        <%= label_tag '用户名' %>
        <%= text_field_tag :name, params[:name] %>
      </div>
      <div class="form-group row">
        <%= label_tag '密码' %>
        <%= password_field_tag :password, params[:password] %>
      </div>
      <div class="form-group row">
        <%= label_tag '记住我' %>
        <%= check_box_tag :remember_me, 1, params[:remember_me] %>
      </div>
      <%= submit_tag "登陆" %>
    <% end %>
  </div>
</div>
